{% extends "base.html" %} {% block content %}
<title>First page</title>

<section class="main-section">
  <div class="toppage">
    <h1>野球ノート</h1>
    <div class="fusen-blue">
      <p>
        努力して結果が出ると自信になる。<br />
        努力せずに結果が出ると、傲りになる。<br />
        努力せずに結果が出ないと、後悔が残る。<br />
        努力して結果が出ないにしても、経験が残る。<br />
      </p>
    </div>
    <div class="next_goal_area">
      <h3>これから気をつけること</h3>
      {% for practice_note in practice_note_list %}
      <div class="fusen-yellow">
        {{ practice_note.next_goal }}
      </div>
      {% endfor %}
    </div>
    <div class="advice-area">
      <h3>もらったアドバイス</h3>
      {% for practice_note in practice_note_list %}
      <div class="fusen-yellow">
        {{ practice_note.advice }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
