{% extends "base.html" %} {% block content %}

<title>edit page</title>

<div class="title">
  <h1>練習ノート編集</h1>
</div>

<div class="container">
  <form action="" method="post">
    {% csrf_token %}
    <p><label for="date">日付</label></p>
    <p>
      <input
        type="date"
        name="date"
        id="date"
        value="{{ practice_note_data.date }}"
      />
    </p>
    <p><label for="weather">天気</label></p>
    <p>
      <select name="weather" id="weather">
        <option value="{{ practice_note_data.weather }}">
          {{　practice_note_data.weather　}}
        </option>
        <option value="晴">晴</option>
        <option value="曇">曇</option>
        <option value="雨">雨</option>
        <option value="雪">雪</option>
      </select>
    </p>
    <p><label for="practice_menu">練習メニュー</label></p>
    <p>
      <textarea class="form-control" name="practice_menu" id="practice_menu">
        {{　practice_note_data.practice_menu　}}
      </textarea>
    </p>
    <p>
      <label for="batting">練習で意識したこと・反省点（バッティング）</label>
    </p>
    <p>
      <textarea class="form-control" name="batting" id="batting">
        {{　practice_note_data.batting　}}
      </textarea>
    </p>
    <p><label for="defense">練習で意識したこと・反省点（守備）</label></p>
    <p>
      <textarea class="form-control" name="defense" id="defense">
        {{　practice_note_data.defense　}}
      </textarea>
    </p>
    <p><label for="running">練習で意識したこと・反省点（走塁）</label></p>
    <p>
      <textarea class="form-control" name="running" id="running">
        {{　practice_note_data.running　}}
      </textarea>
    </p>
    <p><label for="advice">他者からのアドバイス</label></p>
    <p>
      <textarea class="form-control" name="advice" id="advice">
        {{　practice_note_data.advice　}}
      </textarea>
    </p>
    <p><label for="next_goal">次回から意識すること</label></p>
    <p>
      <textarea class="form-control" name="next_goal" id="next_goal">
        {{　practice_note_data.next_goal　}}
      </textarea>
    </p>
    <p><button type="submit">更新</button></p>
  </form>
</div>

{% endblock %}
