{% extends "base.html" %} {% block content %}
<title>detail page</title>

<div class="title">
  <h2>練習ノート</h2>
</div>

<section class="main-section">
  <div class="note">
    <div class="title-section">
      <div class="date">
        <h5>日付</h5>
        <p>{{ practice_note_data.date }}</p>
      </div>
      <div class="weather">
        <h5>天気</h5>
        <p>{{ practice_note_data.weather }}</p>
      </div>
    </div>

    <div class="content-section">
      <h2>内容</h2>
      <div class="menu">
        <h5>メニュー</h5>
        <p>{{ practice_note_data.practice_menu }}</p>
      </div>
      <div class="batting">
        {% if practice_note_data.batting %}
        <h5>バッティング（良かった点・悪かった点）</h5>
        <p>{{ practice_note_data.batting }}</p>
        {% endif %}
      </div>
      <div class="defense">
        {% if practice_note_data.defense %}
        <h5>守備（良かった点・悪かった点）</h5>
        <p>{{ practice_note_data.defense }}</p>
        {% endif %}
      </div>
      <div class="running">
        {% if practice_note_data.running %}
        <h5>走塁（良かった点・悪かった点）</h5>
        <p>{{ practice_note_data.running }}</p>
        {% endif %}
      </div>
    </div>

    <div class="reflection-section">
      <div class="advice">
        {% if practice_note_data.advice %}
        <h5>他者からのアドバイス（良かった点・悪かった点）</h5>
        <p>{{ practice_note_data.advice }}</p>
        {% endif %}
      </div>
      <div class="next_goal">
        <h5>次回から気をつけること</h5>
        <p>{{ practice_note_data.next_goal }}</p>
      </div>
    </div>
  </div>
</section>

<div class="link">
  <a href="/edit_practice_note/{{ practice_note_data.id }}">編集</a>
  <a href="/confirm_deletion_practice_note/{{ practice_note_data.id }}">消去</a>
</div>
{% endblock %}
