{% load static %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/baseball_game_and_practice_notes/style.css' %}"
/>

<div class="sign_up">
  <h2>Sign up</h2>
  {% if error %} {{ error }} {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" id="username" placeholder="username" />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="password"
    />
    <input type="submit" name="" value="sign up" />
  </form>
  <a href={% url "login" %}>Loginはこちら</a>
</div>
