/*
 * font family
 *
 *  Playfair Display
 *  Source Sans Pro
 *
*/

/*
 * color
 *
 *  #091034
 *  #0A2299
 *  #183BF0
 *  #798EF6
 *  #DDE3FD
 *
*/

body {
    text-align: center;
    font-family: 'Source Sans Pro';
    color: #091034;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    color: #183BF0;
}

/* header */
.header-section{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.logo-container{
    height: 100%;
    width: 210px;
    padding: 25px;
}

.options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.option{
    padding: 10px 15px;
    cursor: pointer;
}

.main-section{
    background-color: white;
}

.footer-section{
    /* position: relative; */
}

/*practice_note_detail_page.html*/

.note{
    background: white;
    width: 80%;
    margin: 24px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 24px;
}

/*practice_note_checking_page.html*/

.card{
    background: white;
    width: 200px;
    height: 300px;
    margin: 24px auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 16px;
    cursor: pointer;
}

.card:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}